.projects{
    background-color: azure;
    display: flex;
    padding: 40px;
    justify-content: space-between;
}
.project-card{
    background-color: skyblue;
    width: 300px;
    height: 250px;
    padding: 30px;
}